.yellow{
  background-color: #F5B245;
  padding-bottom: 2em;
  width: 200px;
  height: 100px;
}

.grey{
  background-color: #35322E;
  padding-bottom: 2em;
  width: 200px;
  height: 100px;
}
h4,p{
  padding: .3em;
}

h4{
  margin-top: .8em;
}

p{
  color:white;
}
